<h3>Main controls</h3>
<div id="globals-section">
    Control Time: <button id='pause-button' {{action 'pausePlay'}}>
    {{#if paused}}
        Play
    {{else}}
        Pause
    {{/if}}
    </button>{{input id='time-chooser' value=pageTime type='range' min='0' max='113097'}}<br/>
    Hide Overflow?: {{input checked=hiddenOverflow type='checkbox'}}<br/>
</div>
<div id="editor-section">
    Change page: 
    {{view 'select'
        content=pages
        optionValuePath='content.objectId'
        optionLabelPath='content.fullName'
        value=currentPageID}}
    <br/>
    <button {{action 'newPage'}}>Add new blank page</button><br/>
    {{#with currentPage as |page|}}
        <div id="edit-section">
            <div id="main-section-picker">
              <ul class="nav nav-tabs" role="tablist">
                <li class={{if editingPage 'active'}}><a class="click-hover" {{action 'activatePageControls'}}>Page Controls</a></li>
                <li class={{if editingPage '' 'active'}}><a class="click-hover" {{action 'activateNodeControls'}}>Node Controls</a></li>
              </ul>
            </div>
            {{#if editingPage}}
                {{partial 'partials/page-controls'}}
            {{else}}
                {{partial 'partials/node-controls'}}
            {{/if}}
        </div>
    {{/with}}
</div>

<div id="device-area">
    <img id="iphone-5-pic" src="/content/images/ipad.png">
    <div id="device-screen" class="{{if hiddenOverflow 'hidden-overflow'}} iphone-5 famous-container"></div>
    <div id="top-screen" class="{{if hiddenOverflow 'hidden-overflow'}} iphone-5 famous-container"></div>
</div>
