Choose item to edit:
<ul class="nav nav-pills">
    {{#each nodesToEdit key="@guid" as |node|}}
      <li class={{if-same node.name currentNodeName 'active'}} {{action 'changeCurrentNodeName' node.name}}><a class="click-hover">{{node.name}}</a></li>
    {{/each}}
    <li><button {{action 'addNewPopup'}}>Add new popup</button></li>
</ul>
<br/>
<ul class="nav nav-tabs" role="tablist">
    <li class={{if-same editingSection 'static' 'active'}}><a class="click-hover" {{action 'activateStaticControls'}}>Static attributes</a></li>
    <li class={{if-same editingSection 'dynamic' 'active'}}><a class="click-hover" {{action 'activateDynamicControls'}}>Dynamic functions</a></li>
    <li class={{if-same editingSection 'legacy' 'active'}}><a class="click-hover" {{action 'activateLegacyControls'}}>Legacy attributes</a></li>
    {{#unless currentNodeIsCamera}}
        <li><button {{action 'removeCurrentPopup'}}>Remove Popup!!</button></li>
    {{/unless}}
</ul>

{{#with currentNode as |node|}}
<table>
    <tr>
    </tr>
    <tr>
        <td>
            <table border=1>
                <tbody>
                    {{#if (if-same editingSection 'static')}}
                        {{#if currentNodeIsCamera}}
                            {{partial 'partials/camera-static-attributes'}}
                        {{else}}
                            {{partial 'partials/popup-static-attributes'}}
                        {{/if}}
                    {{/if}}
                    {{#if (if-same editingSection 'dynamic')}}
                        {{partial 'partials/dynamic-attributes'}}
                    {{/if}}
                    {{#if (if-same editingSection 'legacy')}}
                        {{partial 'partials/legacy-attributes'}}
                        {{#if currentNodeIsCamera}}
                            {{partial 'partials/camera-legacy-attributes'}}
                        {{else}}
                            {{partial 'partials/popup-legacy-attributes'}}
                        {{/if}}
                    {{/if}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
{{/with}}
