id: {{page.objectId}}
<table>
<tr>
    <td>
        Example name: {{input value=page.name}}
    </td>
</tr>
<tr>
    <td>
        Page name: {{input value=page.page.name}}
    </td>
</tr>
<tr>
    <td>
        Page X: {{input value=page.page.x}}
    </td>
</tr>
<tr>
    <td>
        Page Y: {{input value=page.page.y}}
    </td>
</tr>
<tr>
    <td>
        Page Speed: {{input value=page.page.speed}}
    </td>
</tr>
<tr>
    <td>
        Page Perspective: {{input value=page.page.perspective}}
    </td>
</tr>
<tr>
    <td>
        Page device: {{input value=page.device}}
    </td>
</tr>
<tr>
    <td>
        Sounds:
    </td>
</tr>
<tr>
    <td>
        name, src, loop, volume
    </td>
</tr>
{{#each soundsToEdit key="@guid" as |sound|}}
    <tr>
        <td>
            {{input value=sound.name type="text"}}{{input value=sound.src type="text"}}{{input value=sound.loop type="number"}}{{input value=sound.volume type="number"}}<button {{action 'removeSound' sound}}>delete</button>
        </td>
    </tr>
{{/each}}
<tr>
    <td>
    <button {{action 'addNewSound'}}>Add new Sound</button>
    </td>
</tr>
</table>